
/* Nav Bar */
.black-me{
    background:  black;
}

nav {
    width: 100%;
    margin: 0;
}
nav ul{
    
    
    overflow: hidden;
    margin: 0;
    padding: 0;
   
}
ul.topnav li{
    list-style: none;
    float: left;
    
}
ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}

ul.topnav li a.dotted-underline{
   
text-decoration: dotted  underline;
color: orange;

} 

ul.topnav li a,
ul.topnav li article {
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 7px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
ul.topnav li a:hover {
    background-color: orange;;
    color: #fff;}


    ul.topnav li.dropdownIcon {
        display:none;
        overflow: visible;
    }

/* Custoum Styles */
#header {
    position: relative;
   
    background-image: url("bg1.jpg");
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

.box1 icon{
    display: block;
    background: darkorange;
    padding: 0;
    margin: 0;
   text-align: center;
   text-decoration: underline;
    box-shadow: 2px 2px 2px black;
   font-size: 25px;
    color: black;
    font-weight: bold; 

 
}

.text-head {
    color: white;
    text-align: center;
    line-height: 5px;
   
}

div.text-head h1 {
    font-size: 36px;
    font-weight: bold;
}
div.text-head p{
    font-size: 25px;
    line-height: 25px;
    
}
div.text-head p.p2{
    font-size: 10px;
    
}
div.text-head h2{
    font-weight: bold;
}

div.text-head button{
    background-color: darkorange;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
div.text-head button:hover{
    background-color: orange;}


    #CTF{
        position: relative;
        bottom: 30px;
      }

      .grey-bac{
        position: absolute;
        top: 20px;
        bottom: -10px;
        left: 0;
        right: 0;
        
        background-color:  #efefef;

      }
      .padding-row{
        padding-left: 7%; 
      }

    .box-ctf{
    display: block;
    margin:0;
    padding: 3px;
    padding-top: 1px;
    padding-bottom:15px; 
    box-shadow: 0px 8px 30px -5px rgba(184,184,184,1);
    background: WHITE;
    
    
}

.box-ctf icon{
    display: block;
    float: left;
    color: darkorange;
    font-size: 64px;
    padding: 8px;
}
.box-ctf h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 1;
}
.box-ctf p{
    line-height: 5px;
}

#usages{
    position: relative;
}

.usages-text{
    text-align: center;
}
.usages-text h1{
    color: black;
    font-weight: bold;
}
.line-here{
    position: relative;
    contain: "";
    border-bottom: 3px solid #efefef ;
    width: 20%;
    left: 40%;
}
ul.topics{
    columns: 100px 2;
}
ul.topics li{
    display: block;
    position: relative;
   list-style: none;
    
    padding: 1px;

}

ul.topics li icon{
    color: black;
    display: block;
    height: 100px;
    width: 100px;
    line-height: 0px;
    text-align: center;
    border-radius: 100px;
    font-size: 75px;
    font-weight: bold;
    padding: 6px;
    margin: 5%;
    border: 5px solid darkorange;
    
    

}

ul.topics li h4{
    position: absolute;
    bottom: 73px;
    left: 170px;
    float: right;
    font-weight: bold;
    font-size: 26px;
}
ul.topics li p{
    position: absolute;
    bottom: 39px;
    left: 170px;
    float: right;
    
    font-size: 20px;
    color: grey;
}
.line-here-inverse{  
    position: relative;
    contain: "";
    border-bottom: 3px solid darkorange ;
    width: 20%;
    left: 40%;}
/* ################# Table ############*/

#Table{
background: #efefef;

}

table {
  width:100%;

}

th, td {
  padding: 15px;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #dae2e5;
}
table tr:nth-child(odd) {
 background-color: #f6f7f9;
}
table th {
  background-color:#4d4e50;
  color: white;
}
div.login-text{
    color: white;
    text-align: center;
    line-height: 2px;
}
div.login-text h1{
    font-weight: bold;
}
div.login-text p{
    font-size: 20px;
}
#sign-in{
        position: relative;
       
        background-image: url("bg2.jpg");
        height: 40%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
  
}
#sign-in input.form-control{
    width: 33.33%;
}


div.login-text{
    color: white;
    text-align: center;
    line-height: 2px;
}
div.login-text h1{
    font-weight: bold;
}
div.login-text p{
    font-size: 20px;
    line-height: 1;
}
#sign-in{
        position: relative;
       
        background-image: url("bg2.jpg");
        height: 40%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
  
}
form.form-inline input{
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
}
form.form-inline button
{
    background-color: darkorange;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 6px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px;
    cursor: pointer;
}
form.form-inline button:hover{
    background-color: orange;}

/* Photo-Ad */
.box-ad{
    display: block;
    margin:0;
    padding: 3px;
    padding-top: 1px;
    padding-bottom:15px; 
    box-shadow: 0px 8px 30px -5px rgba(184,184,184,1);
    background: WHITE;
    
    
}

.box-ad icon{
    display: block;
    float: left;
    color: darkorange;
    font-size: 64px;
    padding: 8px;
}
.box-ad h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 1;
}
.box-ad p{
    line-height: 5px;
}
div.box-ad button{
   
    background-color: darkorange;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 6px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30%;
    cursor: pointer;
    
}
div.box-ad button:hover{
    background-color: orange;}
    div.box-ad img{
        display: block;
        
    }
  .car-width{
      width: 100%;
  }
  #Map{
    position: relative;
  }
  .overlay-text{
    position: absolute;
    top: 19%;
    bottom: 10%;
    left: 55%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.7);

  }
/* ##################################### */


div.overlay-text h2{
color: white;
text-align: center;
font-weight: bold;

}
div.overlay-text p{
    color: white;
    text-align: center; 
    
}
div.overlay-text form input.form-control{
   
    margin-left: 2%;
}
div.overlay-text form input.names{
    width: 45%;
    height: 50px;
  
}
div.overlay-text form input.description{
    block-size: 100%;
    width: 93.333%;
    height: 120px;
   
}
div.overlay-text form button{
    width: 94%;
    height: 50px;
  
}
#footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
}



 /*############# Mobile View ##########*/
 @media screen and (max-width: 1200px){
    ul.topics li h4{
        position: absolute;
        bottom: 51px;
        left: 170px;
        float: right;
        font-weight: bold;
        font-size: 26px;
    }
    ul.topics li p{
        position: absolute;
        bottom: 24px;
        left: 170px;
        float: right;
        
        font-size: 20px;
        color: grey;
    }
    .overlay-text{
        display: none;
        size: i
    }

 }
 @media screen and (max-width: 991px){
    ul.topics li h4{
        position: absolute;
        bottom: 70px;
        left: 170px;
        float: right;
        font-weight: bold;
        font-size: 26px;
    }
    ul.topics li p{
        position: absolute;
        bottom: 20px;
        left: 170px;
        float: right;
        
        font-size: 20px;
        color: grey;
    }

 }
 @media screen and (max-width: 769px){
    #sign-in input.form-control{
        width: 100%;
    }
    form.form-inline button
{
    margin-left: 30%;
    width: 47%;
    
}
 }
@media screen and (max-width: 750px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    nav ul{

        padding: 0;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    .box1 {
        display: none;
    }

    div.text-head p{
        font-size: 25px;
        line-height: 22px;
        
    }
    
    #CTF{
        position: relative;
        bottom: 0px;
      }

      .grey-bac{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        
        background-color:  #ececec;

      }
      .padding-row{
        padding-left: 0%;
         margin-top: 5px; 
      }




.box-ctf p{
    line-height: 5px;
    padding-bottom:16px;
   
}
ul.topics li {
    padding: 1px;
}
ul.topics  {
    display: inline;
    float: none;
}

ul.topics li p{
    position: absolute;
    bottom: 20px;
    left: 170px;
    float: right;
    
    font-size: 20px;
    color: grey;
}
.car-width{
 display: none;
}
